
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(146deg, rgb(0, 0, 0) 11%, rgba(43,40,191,1) 100%, rgba(3,2,8,1) 0%);
}



.menu {
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    color: white;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.opciones {
    /* Estilos para opciones */
    display: flex;
    gap: 25px;
   

}

.opciones h4{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1em;
    transition: transform 0.3s ease;
}


.opciones h4:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.buscador {
    width: 30%;
    height: 130%;
    background-color: rgba(34, 32, 32, 0.452);
    border-radius: 15px;
    display: flex;
    justify-content: space-between; /* Distribuir el espacio entre los elementos */
    align-items: center; /* Centrar verticalmente los elementos */
    border: 0px solid transparent; /* Asegúrate de establecer un borde inicial */
    transition: background-color 0.5s ease, color 0.5s ease;
    
}



.buscador:hover{
    color: rgb(12, 12, 12);
    background-color: rgba(255, 255, 255, 0.842);
    
}

.buscador i {
    margin-left: 16px;
}

.buscador input {
    font-family: 'Roboto';
    font-weight: 500;
    margin: 0 auto; /* Eliminar el margen por defecto */
    margin-left: 9px;
    color: rgb(255, 255, 255);
    width: 87%;
    height: 100%;
    background-color: transparent;
    border: 0;
    outline: none;
    transition: color 0.5s ease, color 0.5s ease;
}

.buscador input:hover{
    color: black;
}

.buscador input::placeholder{
    color:rgb(255, 255, 255)
}
.buscador input:hover::placeholder{
    color:rgb(0, 0, 0)
}


.icons{
    display: flex;
    
    gap: 50px;
}
.icons i {
    /* Estilos para icons */
    font-size: 1.4em;
    color: rgb(255, 255, 255);
    transition: transform 0.3s ease;
}


.icons i:hover{
    transform: scale(1.4);
}

header{
    position: relative;
    background-image: url(../assets/photos/Peliculas/civilwar1.jpg);
    width: 100%;
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
   
    
}

header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85%; /* Altura del difuminado */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)); /* Gradiente lineal transparente a opaco */
    pointer-events: none; /* Evita que el gradiente reciba eventos del ratón */
}
.header-hide::after {
    display: none;
}


.contenido{
    position: absolute;
    z-index: 1;
    bottom: 0;
    
}

.contenido-header{
    
    margin-left: 17px;
    padding: 25px;
    color: white;
    width: 710px;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: justify;
    gap: 10%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    
    
}

.contenido-header .texto{
    font-size: 95%;
    font-family: 'Poppins';
    letter-spacing: -1px;
    font-weight:600;
    padding-left: 50px;
    padding-right: 50px;
    
}

.contenido-header img {
    
    max-width: 35%; /* Establecer el ancho máximo al 100% */
    height: auto;
}

.mirar{
    width: 30%;
    padding: 1%;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 0.7em;
    font-family: 'Open Sans';
    font-weight: 600;
    border: 0px;
    border-radius: 10px;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.contenido-header .mirar:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.699);
    transform: scale(1.2);
    cursor: pointer;
}
main{
    flex: 1; /* Ocupa todo el espacio restante */
    transition: margin-top 0.3s ease; /* Transición suave para el movimiento */
    margin-top: 0;
}

.primeros{
  padding-left:3%;
  padding-right: 3%;

}
.title{
    color: white;
    font-size: 22px;
    text-align: left;
    margin-top: 30px;
    margin-left: 20px;
    font-family: 'Open Sans';
}


.carteles{
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    
   
    
}

.cartelera{
    position: relative;
    width: 100%;
    transition: .3s ease all;

}
.cartel{
   
    width: 75%;
    height: 100%;
    border-radius: 15px;
    
}

.cartelera.hover{
    transform: scale(1.1);
    transform-origin: center;
    z-index: 10;
}

.number{
    color: white;
    font-size: 65%;
    font-family: 'Roboto';
    font-weight: bold;
}
.simb{
    color: rgb(255, 255, 255);
    font-size: 75%;
}

.porcentaje{
    background: #160c4dd0;
    border-radius: 50%;
    border: 2px solid greenyellow; 
    width: 22%;
    height: 18%;
    position: absolute;
    left: 60%;
    bottom: 87%;
    display: flex; /* Agrega esta línea */
    justify-content: center; /* Agrega esta línea */
    z-index: 991;
    align-items: center; 
   
    
}
.cartelera .porcentaje {
    transform: scale(1.1);
}

.dropdown{
    display: none;
}

.piePagina {
    background: linear-gradient(10deg, rgb(0, 0, 0) 11%, rgb(28, 27, 134) 100%, rgba(3,2,8,1) 0%);
    color: rgb(209, 203, 203);
    padding: 20px;
    height: 30vh;
    margin-top:5vh ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    display: flex;
    font-size: 24px;
    gap:20px;
    transition: transform 0.3s ease;
    
}

.icon i {
    margin-left: 10px;
    color: white;
}

.icon i:hover {
    transform: scale(1.2);
}

.politcs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.politcs ul li {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
}

@media only screen and (max-width: 500px) and (min-width: 200px) {

    .menu{
    margin: 0;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    
    }
    .opciones{
        font-size: 0.7em;
        gap: 25px;
        margin: 0 auto;
    }
    .opciones h4:hover{
        transform: none;
    }
    .buscador{
        position: absolute;
        top: 130%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 65%;
        height: 45%;

    }

    .buscador:hover{
        background-color: rgba(34, 32, 32, 0.452);
    }
    
    .buscador input, i{
        font-size: 10px;
        color: white;
    }
    .buscador input:hover{
        color: white;
    }

    .buscador input:hover::placeholder{
    color:rgb(255, 255, 255)
    }

    header{
        background-position: center;
        height: 75vh;    
        
    }
    .contenido-header{
        width: 100%;
        height: 25em;
        padding: 10px;
        gap: 10%;
        margin-left: 0;
    }
    .contenido-header .texto{
        font-size: 0.8em;
        padding-left: 15px;
        padding-right: 15px;
    }
    .contenido-header img{
        max-width: 60%;
        margin-left: 10px;
    }

    .mirar{
        margin-bottom: 25px;
        background-color: white;
        color: black;
        
    }

    .contenido-header .mirar:hover{
        background-color: white;
        color: black;
        transform: none;
    }
    .titleLanzamiento, .titlePelicula, .titleSerie, .titleHeroes{
    font-size: 15px;
    }
    .carteles{
        width: 55em;
        
    }

    .cartel{
        transition: none;
    }
    .cartel:hover{
        transform: none;
        box-shadow: none;
    }
    .number{
    font-size: 57%;
    
    }

    .icons{
        display: none;
    }
    .simb{
    color: rgb(255, 255, 255);
    font-size: 62%;
    }
    .porcentaje{
    width: 22%;
    height: 17%;
    
    }
   
    .cartelera:hover .porcentaje {
        transform: none;
    }

    .icons{
        display: none;
    }

    .iconResponsive i{
        display: flex;
        position: absolute;
        right: 20px;
        bottom: 13px;
        background-color: rgba(31, 28, 34, 0.521);
        border-radius: 45%;
    }
    .iconResponsive i{
        font-size: 1em;
        padding: 6px;
    }
    .piePagina{
        display: flex;
        height: 25vh;
       
    }
    .icon{
        gap: 5px;
    
    }

    .icon i{
        font-size: 0.8em;
    }

    .icon i:hover{
        transform: none;
    }

    .politcs{
        margin-left: 15%;
    }


    .politcs ul{
        color: white;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: justify;
        gap: 5px;
    }

    
    


}