@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  
    margin: 0;
    background: linear-gradient(0deg, rgba(53,52,206,1) 0%, rgba(11,11,39,1) 80%, rgba(0,0,0,1) 100%);
}


.superior{
    display: flex;
    width: 100%;
    
}


.superior .namePlataforma{
    text-align: left;
    letter-spacing: 2px;
    margin-left: 20px;
    padding-top: 15px;
    color: #ffffff;
    font-size: 30px;
}

.superior .iniciar{
    position:absolute;
    color: hsl(0, 0%, 100%);
    right: 10px;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: bold;
   
}

.superior a:hover{
    background-color: rgba(190, 192, 194, 0.267);
    border-radius: 10px;
}


.nuevaCuenta {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; /* Centrar verticalmente */
            height: auto;
        
            font-family: 'Roboto';
            
}

.nuevaCuenta .titleCuenta{
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}

.nuevaCuenta .subtitulo{
    color: rgb(241, 233, 233);
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto';
}
.registrar {
    display: flex;
    flex-direction: column;
    background-color: rgba(29, 37, 37, 0.404);
    width: 600px;
    padding: 40px;
    border-radius: 18px;
   
}

.tituloPersonal, .tituloPlan, .tituloBank{
    color: rgb(255, 255, 255);
    text-align: left;
    font-size:28px;
    margin: 10px;
}
.datosPersonales{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
    
}
.iconCard .tarjeta{
    position: relative;
    width: calc(100% - 20px);
}

.iconCard i{
    position: absolute;
    right: 35px;
    bottom: 210px;
    color: #ffffff;
}

.datosBancarios{
    position: relative;
    margin-top: 10px;
    width: 100%;
}
.error{
    display: flex;
    justify-content: space-between;
}
.error h3{
  
    color: rgb(214, 35, 35);
    font-size: 17px;
    font-family: 'Roboto';
    font-weight: 500;
    margin-left: 13px;
}




.datosBancarios .nombres,
.datosBancarios .seguridad{
    display: flex;
    
}

.nombres input,
.seguridad input{
    width: 100%;
}

.plan{
    padding: 20px;
    margin: 10px;
    background-color: rgba(128, 128, 128, 0.281);
    color: white;
    border: 0;
    border-radius: 5px;
    height: 68px;
}

option {
    font-size: 15px;
    background-color: #ffffff; /* Color de fondo */
    color: #000000; /* Color del texto */
}

.datosPersonales input,
.datosBancarios input {
    padding: 20px;
    margin: 10px;
    background-color: rgba(128, 128, 128, 0.281);
    color: white;
    border: 0;
    border-radius: 5px;
    height: 68px;
}

.datosPersonales input::placeholder,
.datosBancarios input::placeholder {
    color: white;
}

.bottons{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 10px;
}

.bottons button{
    padding: 15px;
    color: #000000;
    font-weight: bold;
    background-color: rgb(219, 215, 215);
    border: 0;
    border-radius: 19px;
    width: 150px;
    font-family: 'Roboto';
}
.bottons button:hover{
    cursor: pointer;
    background-color: #ffffff;
    
}
.piePagina {
    background: linear-gradient(10deg, rgb(0, 0, 0) 11%, rgb(30, 28, 119) 100%, rgb(57, 33, 172) 0%);
    color: rgb(209, 203, 203);
    padding: 20px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .icon {
    display: flex;
    font-size: 24px;
    gap:20px
  }

  .icon i {
    margin-left: 10px;
    
  }

  .politcs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }

  .politcs ul li {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
  }

  @media screen and (max-width: 768px) {
    
    .nuevaCuenta .titleCuenta{
        font-size: 35px;
        margin-top: 95px;
    }
    .superior .namePlataforma{
        margin-top: 25px;
        font-size: 25px;
       
    }

    .superior .iniciar{
        margin-top: 25px;
        font-size: 25px;
    }
    .datosPersonales{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .datosPersonales input{
        width: 80%;
        
    }

    .plan{
        width: 80%;
    }

    .datosBancarios {
     padding: 50px;
       
    }
    .datosBancarios .iconCard .tarjeta{
        width: 95%;
    }
    .datosBancarios .iconCard i{
        bottom: 63%;
        right: 80px;
    }
    .politcs ul{
        
        text-align: left;
        margin-left: 80px;
    }

  }

